%button {
    padding: 0.2em 0.8em;
    border-radius:25px;
    // Buttons text will contrast with the "actionable color" by default 
    color: $actionable-color-contrast;
    // Buttons are assigned the default "actionable color"
    @include button-bg($actionable-color);
}
