/* COLOR PALETTE */

$mood-color-1: #FFFFFF;
$mood-color-2: #3423A6;
$actionable-color: #000000;
$actionable-color-contrast: #FFFFFF;
$decorative-color: #ADC698;


/* BUTTONS */

$button-sizes: ("small": 1em, "medium": 1.5em, "large": 2em);
$button-margins: ("top": 0, "right": 1.5em, "bottom": 0, "left": 1.5em);



/* NAVBAR */

$navbar-bg-color: #FFFFFF;
$boldish-font: 'Krona One', sans-serif;
$authorial-font: 'Quintessential', cursive;
$burger-color: $actionable-color;


/* UTILITIES */

$lg-breakpoint: 600px;

